body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0D47A1;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #36454f;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #1976D2;
    border-radius: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.content-container {
    display: flex;
    /* Utiliza flexbox para las columnas */
    gap: 2rem;
    /* Espacio entre el aside y la sección */
}

.card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 1.5rem;
    flex: 1;
    /* Permite que la tarjeta principal ocupe el espacio disponible */
}

.card h2 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.profile-pic {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.mendoza-pic {
    border-radius: 0;
    width: 400px;
    height: auto;
}

aside.card {
    width: 250px;
    /* Ancho fijo para el aside */
    flex-shrink: 0;
    /* Evita que el aside se reduzca de tamaño */
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-left: 4px solid #0D47A1;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #0D47A1;
    color: #fff;
    margin-top: 2rem;
}

footer p {
    margin: 0.5rem 0;
}